<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="db" value="" />
    <add key="db_user" value="" />
    <add key="db_password" value="" />
    <add key="api_key" value="" />
    <add key="latitude" value="" />
    <add key="longitude" value="" />
    <add key="delay" value="" />
  </appSettings>
</configuration>
